services:
  mysql-db:
    image: mysql:8.0
    container_name: krilicar-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: krilicar_db
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data: